/* Adapted and customized from https://www.w3schools.com/howto/howto_js_autocomplete.asp */

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
#autocomplete-list{
    background-color: #854c30;
    margin: 0 15px;
    border-radius: 0.25rem;
    max-height: 20em;
    overflow-y: auto;
}
#autocomplete-list *{
    margin: auto;
}
.autocomplete-items {
  position: absolute;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: url("./img/cursor/point.png") 10 0,auto;
  background-color: #854c30;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-active *{
  /*when navigating through the items using the arrow keys:*/
  color: #ff0 !important;
}