/* Overrides for RPGUI */
@font-face 
{ 
    font-family: 'Runescape';
    src: url('../fonts/RuneScape-UF.eot'); /* IE9 Compat Modes */
    src: url('../fonts/RuneScape-UF.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/RuneScape-UF.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/RuneScape-UF.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/RuneScape-UF.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/RuneScape-UF.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.rpgui-content{
    position: static;
    overflow: initial;
}

.rpgui-content * {
    font-family: "Runescape";
    font-size: 20px;
}
.rpgui-content *[draggable=true]{
    -webkit-user-drag: element;
    border-top: 2px solid transparent
}

.rpgui-content strong {
    color: #fff;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    font-size: 1.3em;
}

summary::marker{
    color: #fff;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}
summary
,.catalog-listbox
,.skillbox, .spellclassbox
,.catalog-filters label
,.filter-toggle
,.modal-x
,.modal-opener * {
    cursor: url("./img/cursor/point.png") 10 0,auto !important;
}
.rpgui-dropdown{
    cursor: url("./img/cursor/default.png") 10 0,auto;
}
.rpgui-content input, .rpgui-content textarea, .rpgui-cursor-select {
    cursor: url("./img/cursor/select.png") 10 15,auto;  /* Fix y-offset */
}

.rpgui-content textarea{
    height: auto;
}

.rpgui-container{
    position: static;
    z-index: auto;
}

.rpgui-button.btn-small{
    padding-left: .5em;
    padding-right: .5em;
    min-width: 0;
    height: 1.75em;
}

.rpgui-content input[type=checkbox].rpgui-checkbox+label,
.rpgui-content input[type=radio].rpgui-radio+label {
    margin-top: 3px;
    margin-bottom: 3px;
}

/* EndOverrides for RPGUI */

@font-face 
{ 
    font-family: 'Bittypix';
    src: url('../fonts/Bittypix-Monospace.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Bittypix-Monospace.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Bittypix-Monospace.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Bittypix-Monospace.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Bittypix-Monospace.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Bittypix-Monospace.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body{
    background: #222;
}

input {
    text-align: center;
}

.form-group{
    width:100%;
}

.full-width-label{
    width: 100%;
}
input[readonly]{
    background-color: #444 !important;
}

.nav-link{
    margin: 0 5px;
}

.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    display: block;
}

.ability-score-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:15px;
}
.ability-mod{
    font-size: 2em !important;
    padding: 10px 0;
}
.ability-note{
    color: darkgray !important;
    margin-bottom: 0;
}

.skillbox, .spellclassbox{
    display: inline-block;
    border: 2px inset #d27d2c;
    border-radius: 2px;
    padding: 3px 3px;
    margin: 2px 0;
    height: 1.5em;

    font-family: "Bittypix";
    font-size: .75em;

    user-select: none;
}

.attack-stat-row {
    margin: 5px 0;
}

img.currency{
    height: 1.5em;
    margin-top: 5px;
}

#misc-counters-header{
    margin: 0 5px;
}
.misc-counter-block{
    width: 30%;
    margin: 0 5px;
}
.counter-name{
    margin: 5px 0;
}

.spell-row {
    margin: 5px 0;
}
.spell-row * {
    margin-right: 5px;
}

.spell-slot-container input{
    width: 45%;
}

.spell-block{
    margin: 10px !important;
    width: 30%;
}

.prepared{
    border-color: gold;
}

.catalog-container{
    display: flex;
    padding: 20px;
    height: 90%;
}
.catalog-listbox{
    height: 100%;
    width: 21em;
    background-color: #854c30;
}
.catalog-container option{
    color: #fff;
    background-color: #854c30;
}
.catalog-container option:hover{
    color: #ff0;
}
.catalog-container option:checked{
    background-color: rgba(0,0,0,.3);
}
.catalog-filters{
    overflow-y: auto;
    word-break: break-word;
}
.catalog-filters ul{
    padding-left: 0;
    margin: 0;
}
.catalog-filters li{
    list-style: none;
    margin-left: 10px;
}
.catalog-filters label{
    white-space: pre;
    user-select: none;
}
.filter-toggle-icon{
    display: inline-block;
    user-select: none;
}
.filter-toggle-icon.down{
    transform: rotate(90deg);
}
#catalog-content .row{
    padding-top: 10px;
}
#catalog-text-row{
    height:75%;
}
#catalog-text-col{
    height:100%;
}
#btn-learn-spell{
    margin-top: 1em;
}

/*fancy bar*/
fancy-bar{
    display: contents;
}
fancy-bar button{
    position: absolute;
    z-index: 1;
    top: 2px;
}
fancy-bar .fancy-minus{
    left: 6px;
}
fancy-bar .fancy-plus{
    right: 5px;
}
.fancy-bar-inputs{
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    color: white;
    font-size: 1.25em;
    text-align: center;
}
.fancy-bar-inputs input{
    width: 25%;
    border: none;
    background: none;
}

/* dice roller */
#dice-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    padding-left: 0;
}
li.previous-roll{
    list-style: none;
    padding-bottom: 15px;
}
li.previous-roll > span.sum{
    color: lightgreen;
}