@font-face 
{ 
    font-family: 'PressStart';
    src: url('../fonts/PressStart2P.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PressStart2P.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/PressStart2P.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/PressStart2P.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/PressStart2P.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/PressStart2P.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body{
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4),
                        rgba(0, 0, 0, 0.7))
        ,url("../img/landing_bg.png") !important
}
.rpgui-content * {
    font-family: "PressStart";
}

#content{
    position: relative;
    top: 120px;
}
#title-container{
    display: flex;
    justify-content: center;
}
#title{
    position: relative;
    width: fit-content;
    margin: 1em auto 0 auto;
}
#img-title{
    max-width: 600px;
}
.img-torch{
    max-height: 150px;
    margin: 0 100px;

    box-shadow: inset 0 0 50px 100px #fefbe090
                    , 0 0 50px 100px #fefbe090;
    border-radius: 50%;
}
#menu-container{
    text-align: center;
    margin-top:3em;
    display: flex;
    justify-content: space-evenly;
}
#games{
    font-size: 1.5em;
}
.menu-list{
    text-align: left;
}

.menu-list a {
    color: white;
}
.menu-list .link-letter{
    color: yellow;
}
.menu-list a:hover, .menu-list a:hover * {
    text-decoration: none;
    color: yellow;
}

.recent-link{
    padding: 5px;

    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.recent-path {
    visibility: hidden;
    color: lightgray !important;
    font-size: .75em !important;
}
.menu-list a:hover .recent-path{
    visibility: visible;
}