body{
    color: black;
    width: 1240px;
}

input, textarea{
    color: black !important;
}

.tab-pane{
    page-break-after: always;
}

.print-hidden, .btn, img, #autocomplete-list{
    display: none !important;
}

.container{
    min-width: auto !important;
}

.tab-pane{
    display: block !important;
}

input[readonly]{
    color: black !important;
}

.skillbox{
    color: black !important;
}

.prepared{
    border: 1px solid #222 !important;
    border-radius: 0.25rem !important;
}