.form-group{
    width:95%;
}
input, textarea{
    color: #eee !important;
    background-color: #333 !important;
    border-color: #333 !important;
}

.form-control[readonly]{
    background-color: #444 !important;
}

.block{
    margin: 5px;
    padding: 5px 20px;
    border-radius: 4px;
}

.block-shaded{
    background:#444;
}

.block-bordered{
    border: 2px solid #adb5bd;
}

.ability-score-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin:5px;

    background-color:#222;
    border-radius: 4px;
}
.ability-mod{
    font-size: 2em;
}
.ability-note{
    color: darkgray;
    margin-bottom: 0;
}

.attack-stat-row {
    margin-bottom: 5px;
}
.attack-stat-row input {
    margin-right: 5px;
}