.nav-item{
    cursor: pointer;
}

.form-group{
    width:95%;
}
input, textarea{
    color: #eee !important;
    background-color: #333 !important;
    border-color: #333 !important;
}
.full-width-label{
    width: 100%;
}
.form-control[readonly]{
    background-color: #444 !important;
}

.block{
    margin: 5px;
    padding: 5px 20px;
    border-radius: 4px;
}

.block-shaded{
    background:#444;
}

.block-bordered{
    border: 2px solid #adb5bd;
}

.ability-score-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin:5px;

    background-color:#222;
    border-radius: 4px;
}
.ability-mod{
    font-size: 2em;
}
.ability-note{
    color: darkgray;
    margin-bottom: 0;
}

.attack-stat-row, .spell-row {
    margin: 5px 0;
}
.attack-stat-row input, .spell-row * {
    margin-right: 5px;
}

#misc-counters-header{
    margin: 0 5px;
}
.misc-counter-block{
    margin: 0 5px;
}
.counter-name{
    margin: 5px 0;
}
.counter-container *, .spell-slot-container *{
    display: inline-block;
    width: auto;
}
.spell-slot-container input{
    width: 45%;
}

.spell-block{
    margin: 20px;
}
.prepared{
    border: 3px solid gold !important;
    border-radius: 4px;
}