.nav-item{
    cursor: pointer;
}

.form-group{
    width:100%;
}
input, textarea{
    color: #eee !important;
    background-color: #333 !important;
    border-color: #333 !important;
}
.full-width-label{
    width: 100%;
}
.form-control[readonly]{
    background-color: #444 !important;
}

.block{
    padding: 5px 20px;
    border-radius: 4px;
}
#stats .block{
    margin: 5px;
}
#bio .block, #spellbook .block{
    margin: 5px 0;
}

.textarea-col{
    padding: 0 5px;
}

img.currency{
    height: 1.5em;
}

.block-shaded{
    background:#444;
}

.block-bordered{
    border: 2px solid #adb5bd;
}

.ability-score-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5px 0;
    background-color:#222;
    border-radius: 4px;
}
.ability-mod{
    font-size: 2em;
}
.ability-note{
    color: darkgray;
    margin-bottom: 0;
}

.attack-stat-row, .spell-row {
    margin: 5px 0;
}
.attack-stat-row input, .spell-row * {
    margin-right: 5px;
}

#misc-counters-header{
    margin: 0 5px;
}
.misc-counter-block{
    margin: 0 5px;
}
.counter-name{
    margin: 5px 0;
}
.counter-container *, .spell-slot-container *{
    display: inline-block;
    width: auto;
}
.spell-slot-container input{
    width: 45%;
}

.spell-block{
    margin: 15px !important;
}
.prepared{
    border: 3px solid gold !important;
    border-radius: 4px;
}

#spellcatalog-container{
    display: flex;
    padding: 20px;
    height: 90%;
}
#spell-listbox{
    height: 100%;
    width: 21em;
    background-color: gray;
}
#spellcatalog-container option{
    color: #fff;
    background-color: gray;
}
#spellcatalog-filters label{
    width: 100%;
}
.spell-container{
    height: 100%;
}
#srd-spell-container p{
    border: 1px solid #333;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
}
#btn-learn-spell{
    margin: 0 15px;
}
#btn-learn-spell.disabled{
    cursor: initial;
}