.form-group{
    width:95%;
}

.block{
    margin: 5px;
    padding: 5px 20px;
    border-radius: 4px;
}

.block-shaded{
    background:lightgray;
}

.block-bordered{
    border: 2px solid black;
}

.ability-score{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin:5px;

    background-color:white;
    border: 1px solid black;
    border-radius: 4px;
}
.ability-mod{
    font-size: 2em;
}