/* Overrides for RPGUI */
@font-face 
{ 
    font-family: 'Runescape';
    src: url('../fonts/RuneScape-UF.eot'); /* IE9 Compat Modes */
    src: url('../fonts/RuneScape-UF.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/RuneScape-UF.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/RuneScape-UF.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/RuneScape-UF.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/RuneScape-UF.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.rpgui-content{
    position: static;
    overflow: initial;
}

.rpgui-content * {
    font-family: "Runescape";
    font-size: 20px;
}

.rpgui-content textarea{
    height: auto;
}

.rpgui-container{
    position: static;
}

.rpgui-button.btn-small{
    padding-left: .5em;
    padding-right: .5em;
    min-width: 0;
    height: 1.75em;
}

.rpgui-content input[type=checkbox].rpgui-checkbox+label{
    margin-top: 3px;
    margin-bottom: 3px;
}

/* EndOverrides for RPGUI */

@font-face 
{ 
    font-family: 'Bittypix';
    src: url('../fonts/Bittypix-Monospace.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Bittypix-Monospace.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Bittypix-Monospace.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Bittypix-Monospace.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Bittypix-Monospace.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Bittypix-Monospace.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body{
    background: #222;
}

input {
    text-align: center;
}

.form-group{
    width:100%;
}

.full-width-label{
    width: 100%;
}
.form-control[readonly]{
    background-color: #444 !important;
}

.nav-link{
    margin: 0 5px;
}

.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    display: block;
}

.ability-score-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:15px;
}
.ability-mod{
    font-size: 2em !important;
    padding: 10px 0;
}
.ability-note{
    color: darkgray;
    margin-bottom: 0;
}

.skillbox{
    display: inline-block;
    border: 2px inset #d27d2c;
    border-radius: 2px;
    padding: 3px 3px;
    margin: 2px 0;
    height: 1.5em;

    font-family: "Bittypix";
    font-size: .75em;

    cursor: pointer;
    user-select: none;
}

.attack-stat-row {
    margin: 5px 0;
}
.attack-stat-row input {
    margin-right: 5px;
}

img.currency{
    height: 1.5em;
    margin-top: 5px;
}

#misc-counters-header{
    margin: 0 5px;
}
.misc-counter-block{
    margin: 0 5px;
}
.counter-name{
    margin: 5px 0;
}
.counter-container *, .spell-slot-container *{
    display: inline-block;
    width: auto;
}

.spell-row {
    margin: 5px 0;
}
.spell-row * {
    margin-right: 5px;
}

.spell-slot-container input{
    width: 45%;
}

.spell-block{
    margin: 15px !important;
    width: 30%;
}

.prepared{
    border: 3px solid gold !important;
    border-radius: 4px;
}

.catalog-container{
    display: flex;
    padding: 20px;
    height: 90%;
}
.catalog-listbox{
    height: 100%;
    width: 21em;
    background-color: gray;
}
.catalog-container option{
    color: #fff;
    background-color: gray;
}
.catalog-filters{
    overflow-y: auto;
    word-break: break-word;
}
.catalog-filters label{
    white-space: pre;
    cursor: pointer;
    user-select: none;
}
.filter-toggle{
    cursor: pointer;
}
.filter-toggle-icon{
    display: inline-block;
    user-select: none;
}
.filter-toggle-icon.down{
    transform: rotate(90deg);
}
#catalog-content .row{
    padding-top: 10px;
}
#catalog-text-row{
    height:75%;
}
#catalog-text-col{
    height:100%;
}