#stats .block{
    margin: 5px;
}
#bio .block, #spellbook .block, #gear .block{
    margin: 5px 0;
}

.textarea-col{
    padding: 0 5px;
}

.nav-item{
    cursor: pointer;
}

.form-group{
    width:100%;
}
input, textarea{
    color: #eee !important;
    background-color: #333 !important;
    border-color: #333 !important;
}

.full-width-label{
    width: 100%;
}
.form-control[readonly]{
    background-color: #444 !important;
}

.block{
    padding: 5px 20px;
    border-radius: 4px;
}

.block-shaded{
    background:#444;
}

.block-bordered{
    border: 2px solid #adb5bd;
}

.ability-score-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5px 0;
    background-color:#222;
    border-radius: 4px;
}
.ability-mod{
    font-size: 2em;
}
.ability-note{
    color: darkgray;
    margin-bottom: 0;
}

.skillbox{
    display: inline-block;
    border: 1px solid #adb5bd;
    border-radius: 4px;
    padding: 0px 5px;
    height: 1.5em;

    font-family: monospace;
    font-size: 1em;

    cursor: pointer;
    user-select: none;
}

.attack-stat-row {
    margin: 5px 0;
}
.attack-stat-row input {
    margin-right: 5px;
}

img.currency{
    height: 1.5em;
}

#misc-counters-header{
    margin: 0 5px;
}
.misc-counter-block{
    margin: 0 5px;
}
.counter-name{
    margin: 5px 0;
}
.counter-container *, .spell-slot-container *{
    display: inline-block;
    width: auto;
}


.catalog-container{
    display: flex;
    padding: 20px;
    height: 90%;
}
.catalog-listbox{
    height: 100%;
    width: 21em;
    background-color: gray;
}
.catalog-container option{
    color: #fff;
    background-color: gray;
}
.catalog-filters{
    overflow-y: auto;
    word-break: break-word;
}
.catalog-filters label{
    white-space: pre;
    cursor: pointer;
    user-select: none;
}
.filter-toggle{
    cursor: pointer;
}
.filter-toggle-icon{
    display: inline-block;
    user-select: none;
}
.filter-toggle-icon.down{
    transform: rotate(90deg);
}
#catalog-content .row{
    padding-top: 10px;
}
#catalog-text-row{
    height:75%;
}
#catalog-text-col{
    height:100%;
}