#stats .block{
    margin: 5px;
}

#lore-skills{
    padding: 5px 15px;
}

.skillbox-untrained{
    color: gray;
}
.skillbox-trained{
    color: lightgreen;
}
.skillbox-expert{
    color: turquoise;
}
.skillbox-master{
    color: violet;
}
.skillbox-legendary{
    color: gold;
}

.btn-small{
    padding: 3px;
    border-radius: 10px;
}