/* dice roller */
#dice-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    padding-left: 0;
}
li.previous-roll{
    list-style: none;
    padding-bottom: 15px;
}
li.previous-roll > span.sum{
    color: lightgreen;
}
