/* Adapted and customized from https://www.w3schools.com/howto/howto_js_autocomplete.asp */

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
#autocomplete-list{
    margin: 0 15px;
    border-radius: 0.25rem;
    max-height: 20em;
    overflow-y: auto;
}
#autocomplete-list *{
    margin: auto;
}
.autocomplete-items {
  position: absolute;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: gray;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: darkgray;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: darkgray !important;
  color: #ffffff;
}