.skillbox-null{
    color: gray;
}
.skillbox-proficient{
    color: lightgreen;
}
.skillbox-expertise{
    color: gold;
}

.spellclassbox-a{
    color: pink !important;
}
.spellclassbox-b{
    color: coral !important;
}
.spellclassbox-c{
    color: yellow !important;
}
.spellclassbox-d{
    color: lightgreen !important;
}
.spellclassbox-e{
    color: lightblue !important;
}
.spellclassbox-f{
    color: violet !important;
}

.spell-save-dc, .spell-attack-bonus{
    font-size: 2em !important;
}

#catalog-source, #catalog-classes{
    color: lightgray;
}
#catalog-classes-col{
    text-align: end;
}
#catalog-text{
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;

    height:100%;
    white-space: pre-line;
    overflow-y: auto;
}