#proficiencies-languages{
    height: 30em;
}
#equipment{
    height: 40em;
}
#features{
    height: 70em;
}
#physical-description{
    height: 15em;
}
#traits, #ideals, #bonds, #flaws{
    height: 10em;
}
#backstory, #allies, #additional-features, #treasure{
    height: 30em;
}